body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #181818;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mobile {
    padding: 0 20px;
}

.center {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.text-bleu {
    color: #0065FC;
}

.text-gris {
    color: #F2F2F2;
}

/*header*/

header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

header img {
    width: 100px;
    object-fit: contain;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;

}

header ul li {
    margin-left: 80px;
}

header ul li:first-of-type {
    margin-left: 0;
}

@media all and (max-width: 700px) {
    header ul li {
        margin-left: 20px;
    }
}

header a {
    text-decoration: none;
    color: inherit;
}

header li:hover>a {
    color: #0065FC;
    border-top: #0065FC 2px solid;
}


/*recherches*/
form {
    display: flex;

}

#localisation {
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #F2F2F2;
}

.recherche {
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    border: 1px solid #0065FC;

}

input {
    padding: 5px;
    height: 20px;
    font-weight: bold;
    border: 2px solid #F2F2F2;
}

/*filtres*/
#filtres {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-left: 20px;
    font-weight: bold;
    flex-wrap: wrap;
    align-content: flex-start;

}

#filtres h2 {
    margin-right: 20px;
}

#filtres ul {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-left: 0px;
    font-weight: bold;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
}

#filtres li {
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    list-style-type: none;
    padding-right: 20px;
    margin-left: 20px;
}

.switch {
    padding: 10px;
    background-color: #DEEBFF;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    height: 40px;
    width: 40px;
    margin-left: -5px;
    margin-right: 10px;
}

/*HERBERGEMENT*/

#ancre-hebergement {
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
    max-width: 885px;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 50px;
}

.fiches {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 880px;
    justify-content: space-between;
}

.hotel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel>div>span {
    padding-left: 15px;
    margin-bottom: 20px;
}

.fiches img {
    height: 150px;
    width: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
}

.fiches a {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-decoration: none;
    color: inherit;
    margin-bottom: 30px;
    border-radius: 15px;
}

.fiches p,
h3 {
    margin: 5px;
    margin-left: 15px;
}

.fiches h2 {
    margin-bottom: 20px;
}


article>a {
    text-decoration: none;
    color: inherit;
}

article>a:hover {
    font-weight: bold;
}

.star {
    margin-left: 15px;
    margin-bottom: 15px;
}



/*ASIDE*/
.container {
    display: flex;
    flex-wrap: wrap;
}

.aside p,
h3 {
    margin: 5px;
    margin-left: 15px;
}

#populaires-aside {
    background-color: #F2F2F2;
    width: auto;
    max-width: 500px;
    border-radius: 15px;
    padding: 20px;
    margin-left: 30px;

}

#populaires-aside h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside .populaires {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 40px;
}

aside img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    padding: 5px;
}

/*section activités*/

#section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    max-width: 1400px;
    width: auto;
    justify-content: center;
}

#section>div:not([class]) {
    margin-bottom: 50px;
}

#activite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.activite1 {
    background-color: white;
    width: auto;
    max-width: 300px;
    height: 445px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px lightgrey;
    margin-bottom: 50px;
}

.activite1 img {
    height: 390px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.activite2 {
    background-color: white;
    width: auto;
    max-width: 300px;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    height: 240px;
    box-shadow: 1px 1px 10px lightgrey;
}

.activite2 img {
    height: 185px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.activite3 {
    background-color: white;
    width: auto;
    max-width: 300px;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
    height: 165px;
    box-shadow: 1px 1px 10px lightgrey;
}

.activite3 img {
    height: 110px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.activite1 h3 {
    line-height: 35px;
}

.activite2 h3 {
    line-height: 35px;
}

.activite3 h3 {
    line-height: 35px;
}


/* footer*/
footer {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin-top: auto;
    padding-top: 5%;
}


footer ul {
    list-style-type: none;
}

footer li {
    padding-bottom: 10px;
}