body
{
    font-family: 'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;
    color : #181818;
    margin: 0px;
    padding:0px;
}

.text-bleu{
    color: #0065FC;
    font-weight: bold;
}
/* HEADER */
header
{
    padding-left: 20px;
    margin:0px;
}
#menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 100px;
}

#inscription{
    display: block;
    margin-top: 0px;
    height: 83px;
    line-height: 67px;
    vertical-align: middle;
}

/* menu nav header*/
nav {
        margin: 0px;
        padding: 0px;
        height: 83px;
    }

    nav ul
    {
        display: flex;
        text-decoration: none;
        list-style-type: none;
        margin-top: 0px;
    }

    nav li{
        margin-right: 20px;
        border-top: transparent 2px solid;
    }

    nav li:hover{
        color: #0065FC;
    }

/* section */ 
    #ligne1
    {
        display: flex;
        background-color: #F2F2F2;
        
    }

    #ligne2
    {
        display: flex;
        background-color: #F2F2F2;
        
    }

aside
    { 
        display: flex;
        background-color: #F2F2F2;
    }
/* FOOTER */
footer{
    display: flex;
    padding-top: 5%;
    background-color:#F2F2F2;
}