body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: #181818;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center {
    max-width: 1340px;
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 0 25px;
}

.bold
{
    font-weight: bold;
}

.text-bleu
{
    color: #0065FC;
}

.text-gris
{
    color: #F2F2F2;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

p, li, h3 {
    font-size: 16px;
}

/*header*/

header
{
    display: flex;
    flex-wrap: wrap;
}

.header {
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
}

header img
{
    width: 100px;
    object-fit: contain;
    padding-top: 30px;

}

header nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin-left: auto;
}

header ul  
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around; 
    padding-left: unset; 
    margin: unset;
}

header ul li {
    margin-left: 40px;
    padding-top: 48px;
}

header ul li:first-of-type {
    margin-left: 0px;
}

header a
{
    text-decoration: none;
    border-top: solid 2px transparent;
    color: inherit;
    padding: 10px;
    padding-top: 46px;

}

header a:hover
{
    color: #0065FC;
    border-top: #0065FC 2px solid;
}

.hidden {
    display: none ;
}

.menu {
    padding-top: 50px;
}

.ul {
    margin: 0px;
    padding: 0px;
}

.inscrire {
    order: 3;

}


.inscrire a {
    margin-left: 40px;
    display: block;
    padding-top: 46px;
    border-top: solid 2px transparent;
}



/*recherches*/
form {
    display: flex; 
}

#localisation
{
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px; 
    border: 2px solid #F2F2F2;
    width: 51px;
    font-size: 16px;
}

.recherche { 
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
    border: 1px solid #0065FC;
    max-width: 135px;
    width: 100%;
    height: 50px;
    font-size: 18px;


}

input {
    padding-left: 15px;
    height: 44px;
    width: 100%;
    max-width: 214px;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    font-family: 'Raleway';
    font-size: 18px;
}

/*filtres*/
#filtres {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-weight: bold;
    flex-wrap: wrap;
    align-content: flex-start; 
}

#filtres h2 {
    margin-right: 10px;
}

#filtres ul 
{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-left: 0px;
    font-weight: bold;
    flex-wrap: wrap;
    width: 100%;
    max-width: 935px;
}
#filtres li {
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    list-style-type: none;
    padding-right: 20px;
    margin-left: 27px;
}

.switch{
    padding: 10px;
    background-color: #DEEBFF;
    border-radius: 50px;
    text-align: center;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    height: 50px;
    width: 50px;
    margin-left: -5px;
    margin-right: 10px;
    font-size: 20px;
}

.dispo {
    margin-bottom: 20px;
}

.info {
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 18px;
    height: 18px;
    width: 18px;
    text-align: center;
    padding: 5px;
}

.logements {
    display: flex;
    align-items: center;
}

.logements p {
    margin-left: 10px;
}

/*HERBERGEMENT*/

#ancre-hebergement 
{
    background-color: #F2F2F2;
    height: auto;
    max-width: 825px;
    border-radius: 15px;
    padding: 10px 10px 40px 40px;
    margin-right: 45px;
    margin-bottom: 50px;
}

.fiches {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 875px;
    justify-content: space-between;
}


.hotel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel>div>span
{
    padding-left: 15px;
    margin-bottom: 20px;
}

.fiches img {
    height: 114px;
    width: 235px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
}

.fiches a
{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.fiches a :last-of-type {
    margin-right: 0px;
}

.fiches p, 
h3 {
    margin: 5px;
    margin-left: 15px;
}

.fiches h2
{
    margin-bottom: 20px;
}


article>a
{
    text-decoration: none;
    color: inherit;
}
article>a:hover {
        font-weight: bold;
    }

.star {
    margin-left: 15px;
    margin-bottom: 15px;
}



/*ASIDE*/
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.populaires p {
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 25px;
    margin-top: auto;
}

.populaires h3 {
    margin-top: 20px;
    margin-left: 15px;
}   

aside {
    display: flex;
    flex: 1; 
    margin-bottom: 50px;
}


#populaires-aside {
    background-color: #F2F2F2;
    width: calc(100% - 60px);
    border-radius: 15px;
    padding: 30px;
}

#populaires-aside h2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

aside .populaires
{
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px lightgrey;
}

aside img {
    height: 127px;
    width: 134px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    padding: 5px;
}

.etoile {
    margin-left: 15px;
}



/*section activités*/

#section
{
    display: flex;
    flex-wrap: wrap;
    max-width: 1340px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}


#activite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.activite1
{
    background-color: white;
    width: auto;
    max-width: 300px;
    height: 445px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px lightgrey;
}

.activite1 img
{
    height: 390px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.activite2
{
    background-color: white;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    margin-bottom: 40px;
    height: 240px;
    box-shadow: 1px 1px 10px lightgrey;
}

.activite2 img
{
    height: 185px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.activite3
{
    background-color: white;
    width: auto;
    max-width: 300px;
    border-radius: 15px;
    height: 165px;
    box-shadow: 1px 1px 10px lightgrey;
}

.activite3 img
{
    height: 110px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.activite1 h3 {
   line-height: 35px;
}

.activite2 h3
{
    line-height: 35px;
 }

 .activite3 h3 {
    line-height: 35px;
 }


/* footer*/
footer
{
    display: flex;
    width: auto;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}

.taille {
    width: 100%;
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer {
    display: flex;
    flex-wrap: wrap;   
    width: 1340px;
    padding: 20px;
}


footer ul
{
    list-style-type: none;
    padding: 0px;
}

footer li
{
    padding-bottom: 10px;
}

